.personcard {
	position: fixed;
}

img {
	object-fit: cover;
	border-radius: 50%;
	height: 100px;
	width: 100px;

	transition: transform .2s;
}

img:hover {
	transform: scale(1.5);
}

.cardscontainer {
	/* display: flex; flex-direction: row; flex-wrap: wrap; */
}